@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f4f6;
  overflow-x: hidden;
}

/* Clerk User Button */
.cl-avatarBox {
  width: 2.5rem;
  height: 2.5rem;
}
